.home_bg{
    background-image: url(D:\React-Project-Demo\PersonalWebsiteWithReact\personal-website\src\assets\img);
    background-color: #010101;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;

}